<h2>Subscribe new user</h2>

<form action="/user" method="POST">
  <label for="newtag">Enter User Tag</label>
  <input type="text" name="newtag" placeholder="Tag for subscribe">

  <button type="submit">Subcribe</button>
</form>