<form action="/user" method="POST">
  <div class="form-group">
    <input type="text" name="newtag" placeholder="Tag for subscribe" required class="form-control">
  </div>

  <button type="submit" class="form-control">Subscribe</button>
</form>