<div class="container my-3">
  <hr>
  <% if (typeof users !== 'undefined') { %>
    <% if ( users.length < 1) { %>
      <p class="text-center">No users found with that username or tag</p>
      <p class="text-center">Subscribe your tag first to start keeping track on your daily battles.</p>
    <% } else{ %>
      <div class="list-group">
        <% for (const user of users) { %>
          <% const tagNoHash = user.tag.slice(1) %> 

            <a href="/user/<%= tagNoHash %>" class="list-group-item list-group-item-action text-center"> 
              <span> <%= user.name %> </span>
              <small class="text-muted"> <%= user.tag %>  </small>
            </a>

        <% } %>
      </div>
    <% } %>
  <% } %>
</div>