<div class="container my-4">
  <div class="row justify-content-md-center">
    <div class="col col-md-5">
      <div class="my-5">
        <h2 class="text-center">Your information</h2>
        <p>
          The information we are using and saving is your player-tag and player-name with the purpose to show your 
          quantity battles and time spent playing <em>Clash Royale</em>.</p>
        <p>
          If you want all your data to be deleted just <a href="mailto:johanprograma@hotmail.com?subject=Delete%20me%20from%20Clashing%20Time">mail to us</a>, and
          we will take care of it. This could take 1 to 3 days.
        </p>
      </div>
      <div class="my-5">
        <h2 class="text-center">About Clashing Time</h2>
        <p>Users subscribed at the moment: <span class="text-white"><%= totalUsers %></span></p>
        <p>Developed with <em>NodeJs</em>, <em>ExpressJs</em> and <em>MongoDB</em> by <a href="https://innuendox3.github.io/about-me/" target="_blank"> Johan Garzon</a>.</p>
      </div>
    </div>
  </div>
</div>