<%- include('partials/form-search-user.ejs') %>

<% if (typeof users === 'object') { %>
  <% if ( users.length < 1) { %>
    <h3>No users found with that name or tag</h3>
  <% } else{ %>  
    <% for (const user of users) { %>
      <% const tagNoHash = user.tag.slice(1) %> 
      <div>
        <a href="/user/<%= tagNoHash %>"> <%= user.name %> </a>
        <span> <%= user.tag %>  </span>
      </div>
    <% } %>
  <% } %>
<% } %>
