<h2>Get battle-days</h2>
<form action="/user" method="GET">
  
  <label for="tag">Enter user tag</label>
  <input type="text" name="tag" placeholder="User Tag" required>

  <button type="submit">Send</button>
</form>

<h2>Subscribe new user</h2>
<form action="/user" method="POST">
  <label for="newtag">Enter User Tag</label>
  <input type="text" name="newtag" placeholder="Tag for subscribe">

  <button type="submit">Subcribe</button>
</form>