<div class="jumbotron my-2">
  <h1 class="text-center display-3"> 
    <a href="/">Clashing Time</a>
  </h1>
  <p class="text-center">Check out how much time you are playing <a href="https://clashroyale.com/blog/news/about-the-game">Clash Royale</a> daily.</p>
</div>

<%- include('partials/form-search-user.ejs') %>

<%- include('partials/search-results.ejs')  %> 

<p class="text-center">Not registered yet? <a href="/user/subscribe">Subscribe</a> here!</p>
