<div class="jumbotron my-2">
  <h1 class="text-center display-3"> 
    <a href="/">Clashing Time</a>
  </h1>
  <p class="text-center">Check out how much you are playing Clash Royale daily.</p>
</div>

<%- include('partials/form-search-user.ejs') %>

<%- include('partials/search-results.ejs')  %> 